*{
  margin: 2px;
  padding: 2px;
}

body {
  font-family: "Times New Roman", sans-seriff;
  text-align: center; 
  background-color: lightblue; 
}

/* STYLE TEXT */

header {
  color: white;
  text-align; center;
}

main {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
}

p {
  color: black;
}

h1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* STYLE IMAGES */
img {
  border-radius: 50%;
  max-height: 250px;
  border: 3px solid white;
  margin-bottom: 2em;
}

.cool {
  color: black;
}

#bunny {
  border-radius: 10%;
}


ul {
  list-style-type: none;
  background-color: rosybrown;
  overflow: hidden;
  padding: 1em;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: floralwhite;
  font-size: 1.3em;
  padding: 1em;
}

li a:hover {
  background-color: lavender;
}

 h1 {
      text-shadow: 1px 1px black;
      }

h2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

h2 {
      text-shadow: 1px 1px black;
      }

.genFact {
  background: #lightpink;
  border radius: 18px;
  border-style: none;
  
  padding: 15px;

  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;

  font-family: "Roboto Mono", sans-seriff;
  font-size: 0.5cm;
  text-align: center;
  line-height: 1.2cm;
  color: black;
}

#fact {
  border-style: none;

  padding: 5px;
 margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;

  font-family: "Roboto Mono", sans-seriff;
  font-size: 0.5cm;
  text-align: center;
  line-height: 0.5cm;
  color: blue;
  
}
